body {
    margin: 0;
    padding: 10px;
    font-family: "Inter", sans-serif;
}

#container {
    width: 550px;
    height: 729px;
    margin: 126px auto 124px auto;
    background-color: #F4F4F4;
    text-align: center;
}

#header {
    height: 285px;
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: bolder;
    line-height: 38px;
    letter-spacing: -3%;
    color: white;
    margin-top: 33px;
}

#input {
    width: 117px;
    height: 83px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 58px;
    font-weight: bolder;
    line-height: 24.4px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

button {
    width:117px;
    height: 42px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
    line-height: 24px;
    background-color: white;
    padding: 9px 27.5px 9px 27.5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 34px;
}

.section {
    width: 500px;
    height: 108.57px;
    background-color: white;
    margin: 23.45px auto;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #5A537B;
    padding-top: 31px;
}

p  {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #353535;
    padding-bottom: 18.7px;
}
